/* The following are used only in cp folder files*/
.innerHeading 
{
	font-size: 13px;
	font-weight:bold;
	text-decoration:underline;
}
.innerheading2
{
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
	color:#157bcd;	
}
.topMessage
{
	font-weight:bold;
	color:Blue;
}

