.tdSubmitButton
{
	text-align: center; 
	height:30px; 
	padding-top:5px;
}

/* copied from mainhome.css  and modified some*/
.tdSubmitButton a
{
	border: 1px solid rgb(88, 88, 128); 
	color: rgb(88, 88, 128);
	background-color: rgb(248, 247, 244); 
	font-weight: bold;
	text-decoration:none;
	padding:2px;
	
}