table, tr, td
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
img
{
	border: 0px;
}

ul
{
	margin-left: 10px;
}
li
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
h1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #0062ad;
	font-weight: bold;
	text-decoration: none;
}
h2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0062ad;
	font-weight: bold;
	text-decoration: none;
}
h3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0062ad;
	font-weight: bold;
	text-decoration: none;
	line-height: 20px;
}
h4
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #383838;
	font-weight: bold;
	text-decoration: none;
}
h5
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ff6200;
	font-weight: bold;
	text-decoration: none;
	line-height: 18px;
}
h6
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0062ad;
	font-weight: bold;
	text-decoration: none;
}
.tableheader1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	font-weight: bold;
	background: #3399cc;
	text-decoration: none;
}
.tableheader
{
	background-image: url(../images/head_bg.GIF);
	background-position: left top;
	background-repeat: repeat-x;
	height: 25px;
	padding: 0px;
	border: 0px solid #000;
	color: #ffffff;
	padding-left: 10px;
	font-weight: bold;
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11.5px;
}
.tableborder
{
	border: 1px solid #B9B9BA;
	padding: 3px, 3px, 3px, 3px;
	border-collapse: collapse;
	background-color: #ffffff;
	margin: 0px, 0px, 0px, 0px;
}
.liststyle
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
}
.liststyle_sub
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
}
.navigator
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #383838;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
}
.navigator_hin
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #383838;
	text-decoration: none;
	padding: 5px;
}
/* Ramakrishna 22-08-08 Start */
.navigator a /*, .navigator a:active, .navigator a:visited*/
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}

.navigator a:hover
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	font-weight: bold;
	text-decoration: underline;
}
/* Ramakrishna 22-08-08 End ----*----*/
.navigator_normal
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #383838;
	text-decoration: none;
}
.navigator_normal2
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11.5px;
	color: #000000;
	text-decoration: none;
}
.navigator_normal1
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.navigator_exist
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0062ad;
	font-weight: bold;
	text-decoration: none;
}
.content
{
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	text-decoration: none;
	text-align: justify;
}

#shadow
{
	background: url(../images/images_mcci/shadow-png.png) repeat-y center;
}

#header-bg
{
	background: url(../images/images_mcci/header-bg.gif) repeat-x top;
}



#footer
{
	height: 102px; /*** The drawback with this solution is that the height of the footer can't be flexible. If you add so much content to the footer that it extends 30px, you will get a vertical scrollbar and the content will overflow the footer if you don't set overflow to hidden ***/
	margin: 0 auto; /*** By using a negative margin-top we now moves the footer up the same amount as the footer height to avoid vertical scrolling. Remember, if you use borders and padding on your footer you will have to calculate this in your negative margin-top value also. ***/
	text-align: left;
	background: url(../images/images_mcci/background-footer.gif) bottom;
}
#footer-nav
{
	padding-top: 10px;
	font: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 11px;
	text-align: left;
	width: 980px;
	margin: 0 auto;
}
#footer-nav a
{
	color: #FFFFFF;
	font-size: 11px;
	margin-left: 0px;
	margin-right: 5px;
	text-decoration: none;
}

#footer-nav a:hover
{
	color: #006abc;
	text-decoration: none;
}

#footer-nav .frow2
{
	padding: 10px 0px 10px 10px;
	text-align: left;
}

#footer-nav .frow2 .fleft
{
	float: left;
}
#footer-nav .frow2 .verisign
{
	float: right;
}
#footer-nav .frow2 .fright
{
	float: right;
}

#footer-nav .frow2 .fright img
{
	float: left;
	margin-right: 20px;
}
#verisignimage
{
	float: right;
	width: 47px;
	height: 53px;
}

.borderbg
{
	background-image: url(../images/images_mcci/border_bg.gif);
	background-repeat: repeat-y;
}


.bannerbg1
{
	background-image: url(../images/images_mcci/background-footer.gif);
	background-repeat: repeat-y;
}

.header
{
	background: url(../images/images_mcci/header-bg.gif) repeat-x;
	left: 0%;
	top: 0%;
}

.header_row1
{
	height: 28px;
}

.listmenu_one
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 140px;
}
.listmenu_one1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	width: 70px;
}
.textfield_track
{
	border: solid 1px #065694;
	width: 180px;
	font-family: Arial, Helvetica, sans-serif;
	height: 18px;
}


.divider
{
	background-image: url(../images/images_mcci/divider.gif);
	width: 1px;
	height: 28px;
	background-repeat: repeat;
}

.lightblue_text
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #d9eeff;
	text-decoration: none;
}

.bannerbg
{
	background-image: url(../images/images_mcci/banner_bg.gif);
	background-repeat: repeat-y;
	height: 120px;
}

.innerbannerbg
{
	background-image: url(../images/images_mcci/banner_bg.gif);
	background-repeat: repeat-y;
	height: 100px;
}


#header_row2
{
	height: 85px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}
#header_row2 #tplft
{
	float: left;
	width: 109px;
}
#header_row2 #tprgt
{
	float: right;
	width: 754px !important;
	margin-top: 59px;
	color: #1670b6;
}
#header_row2 #tprgt div
{
	width: 91px;
	height: 25px;
	float: left;
	margin-right: 2px;
	background: url(../images/images_mcci/hyper-link.gif) no-repeat;
	line-height: 25px;
}
#header_row2 #tprgt a
{
	background: url(../images/images_mcci/hyper-link1.gif) no-repeat;
	display: block;
	width: 91px;
	height: 25px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}
#header_row2 #tprgt a:hover
{
	background: url(../images/images_mcci/hyper-link-hover.gif) no-repeat;
	display: block;
	width: 91px;
	height: 25px;
	text-align: center;
	color: #FFFFFF;
	text-decoration: none;
}

#header_row2 #tprgt-2
{
	float: right;
	width: 107px !important;
	margin-top: 0px;
	float: right;
}

.postpaid_container
{
	background-image: url(../images/images_mcci/postpaid_container.gif);
	width: 213px;
	height: 177px;
	background-repeat: no-repeat;
}
.prepaid_container
{
	background-image: url(../images/images_mcci/prepaid_container.gif);
	width: 213px;
	height: 177px;
	background-repeat: no-repeat;
}
.internet_container
{
	background-image: url(../images/images_mcci/internet_container.gif);
	width: 213px;
	height: 177px;
	background-repeat: no-repeat;
}
.special_container
{
	background-image: url(../images/images_mcci/special_container.gif);
	width: 213px;
	height: 177px;
	background-repeat: no-repeat;
}
#track_container
{
	background-image: url(../images/images_mcci/trackorder_container.gif);
	width: 213px;
	height: 177px;
	background-repeat: no-repeat;
}

.containertoptext
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding-top: 40px;
}
.containermidtext
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}


.buttonbg
{
	background-image: url(../images/images_mcci/buttonbg.gif);
	height: 26px;
	width: 170px;
}
.buttonbgfont
{
	font-family: verdana,Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-decoration: none;
	font-size: 11px;
	padding: 6px;
	line-height: 20px;
	padding-left: 10px;
}
/*
.buttonbgfont:hover
{
font-family:Verdana,Arial, Helvetica, sans-serif;
color:#000000;
text-decoration:none;
font-size:11px;
padding:6px;
line-height:20px;
padding-left:10px;
}
*/
.innermenu
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #383838;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
}
.innermenu:hover
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0062ad;
	font-weight: bold;
	text-decoration: none;
	padding: 5px;
}
.leftpadcontent
{
	padding-left: 10px;
}
.knowmore
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #1b1b1b;
	font-weight: bold;
	text-decoration: underline;
}
.knowmore:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0062ad;
	font-weight: bold;
	text-decoration: underline;
}
.line
{
	background-image: url( "../images/images_mcci/line.gif" );
	width: 1px;
}

.greenmsg
{
	color: #235902;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.redmsg
{
	color: #FF0000;
	font-size: 10px;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.tdborder1
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: Black;
	background-color: white;
	text-decoration: none;
}
.tdborder2
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: Black;
	background-color: #ebebeb;
	text-decoration: none;
}
.faqs2
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
}
.faqs3
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #000000;
}

.fnote
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
	text-decoration: none;
}

.h3_nospace
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #0062ad;
	font-weight: bold;
	text-decoration: none;
}

/*---------------  new Style 16-05-2008 BFCviewReportDetails---------------*/


.tabborder
{
	border: 1px solid #1579c5;
	border-width: 1px 1px 0px 0px;
}
.tabborder_2
{
	border: 1px solid #1579c5;
	border-width: 1px 1px 1px 1px;
}

.reqheading
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
	padding-left: 10px;
	text-decoration: none;
	color: #ffffff;
	text-align: left;
	background-color: #3399cc;
	width: 30%;
}
.reqheading_1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
	padding-left: 10px;
	text-decoration: none;
	color: #000;
	text-align: left;
	width: 20%;
	border-bottom: 1px solid #1579c5;
}

.reqheading_2
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 5px;
	padding-left: 10px;
	text-decoration: none;
	color: #FFFFFF;
	text-align: left;
	background-color: #1579c5;
	border-left: 1px solid #fff;
}
.row_1
{
	background-color: #7cbff4;
	color: #fff;
	font-size: 11px;
	line-height: 25px;
	padding-left: 10px;
	font-weight: bold;
	border-left: 1px solid #fff;
	text-align: left;
}
.row_2
{
	background-color: #e6f1f8;
	color: 000;
	font-size: 11px;
	line-height: 25px;
	font-weight: bold;
	padding-left: 10px;
	border-left: 1px solid #fff;
	text-align: left;
}

/*---------------  new Style 16-05-2008 End---------------*/
.faqheading
{
	color: 000;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
}

/*-
.faqlinks a, a:active, a:visited
{		FONT-SIZE: 11px; 
    color: #0062ad;
   FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION:underline;
	line-height:18px;
  font-weight:bold;
}

*/
.faqlinks a:hover
{
	font-size: 11px;
	color: #4d9edf;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
}
.faqanswer
{
	color: #000;
	font-size: 11px;
	line-height: 18px;
	background-color: #e6f1f8;
	padding-left: 5px;
}
.faqquestion
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
	line-height: 22px;
	background-color: #7cbff4;
	padding-left: 5px;
}
.faqtableborder
{
	border: 1px solid #7cbff4;
}
/*----------- 06-08-08- -----------------*/
.Compheading
{
	height: 25px;
	color: #fff;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
}
.comphead_1
{
	font-size: 13px;
	font-weight: bold;
	color: #3399cc;
}
.msgred
{
	color: #C80101;
	font-size: 11px;
	font-weight: bold;
}
.msgreen
{
	color: #235902;
	font-size: 11px;
	font-weight: bold;
}
/* IN3796 start by Ramakrishna */
.readonly_style
{
	background-color: white;
	border: 1px solid #6486a6;
	height: 21px;
	padding: 3px 0px 0px 3px;
	width: 200pt;
}
.readonly_style1
{
	background-color: white;
	border: 1px solid #6486a6;
	height: 21px;
	padding: 3px 0px 0px 3px;
}
.inputpadding
{
	padding: 3px 0px 0px 3px;
}
/* IN3796 end by Ramakrishna */
.colcolor_1
{
	background: #ffffff;
	line-height: 17px;
	text-align: center;
	width: 175px;
	font-weight: normal;
}
.colcolor_2
{
	background: #d5effc;
	line-height: 17px;
	text-align: center;
	width: 175px;
	font-weight: normal;
}
.colcolor_head
{
	font-weight: bold;
	background: #3399cc;
	border: 1px solid #fff;
	border-width: 1px 1px 0px 0px;
	line-height: 30px;
	text-align: center;
	width: 175px;
}
