/* Structural Site Styling */

/* Reference "visual.css" for visual styling of elements */

body, html
{
	margin: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	background: white url(  "files/background.gif" ) top repeat-x #a59173;
	font-size: 80%;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}



img
{
	border: none;
}



div, form, h1, h2, h3, h4, h5, h6
{
	margin: 0;
	padding: 0;
}



#master_container
{
	position: relative;
	width: 750px;
	margin: 0 auto 0 auto;
	padding: 20px 0 0 0;
	text-align: left;
}



#header
{
	position: relative;
	width: 100%;
	height: 213px;
	overflow: hidden;
}



#header h2
{
	position: absolute;
	top: 36px;
	left: 425px;
	z-index: 100;
	width: 533px;
	height: 0;
	margin: 0;
	padding-top: 169px;
	overflow: hidden;
}

#header h2 a
{
	position: absolute;
	top: 0;
	left: 0;
	height: 0;
	width: 533px;
	padding-top: 169px;
	overflow: hidden;
}



#header h1
{
	position: absolute;
	top: 36px;
	left: 8px;
	width: 198px;
	height: 169px;
	overflow: hidden;
	z-index: 200;
}

#header h1 a, #header h1 a:link, #header h1 a:visited
{
	display: block;
	width: 198px;
	padding-top: 169px;
	overflow: hidden;
}



ul#nav
{
	position: relative;
	width: 750px;
	height: 33px;
	overflow: hidden;
	z-index: 200;
	margin: 0;
	padding: 0;
}

ul#nav li
{
	list-style-type: none;
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
	height: 33px;
	text-align: center;
}

ul#nav li a, ul#nav li a:link, ul#nav li a:visited
{
	position: relative;
	display: block;
	padding: 5px 0 0 0;
	font: bold 11px Arial, Helvetica, sans-serif;
	text-decoration: none;
	color: #ffffff;
	height: 28px;
	line-height: 28px;
}

ul#nav li.selected a, ul#nav li.selected a:link, ul#nav li.selected a:visited
{
	background-position: bottom !important;
}

ul#nav li.nav1 a, ul#nav li.nav1 a:link, ul#nav li.nav1 a:visited
{
	width: 118px;
	padding-left: 5px;
	background-position: top;
}

ul#nav li.nav1 a:hover
{
	background-position: bottom;
}

ul#nav li.nav2 a, ul#nav li.nav2 a:link, ul#nav li.nav2 a:visited
{
	width: 100px;
	background-position: top;
}

ul#nav li.nav2 a:hover
{
	background-position: bottom;
}

ul#nav li.nav3 a, ul#nav li.nav3 a:link, ul#nav li.nav3 a:visited
{
	width: 100px;
	background-position: top;
}

ul#nav li.nav3 a:hover
{
	background-position: bottom;
}

ul#nav li.nav4 a, ul#nav li.nav4 a:link, ul#nav li.nav4 a:visited
{
	width: 100px;
	background-position: top;
}

ul#nav li.nav4 a:hover
{
	background-position: bottom;
}

ul#nav li.nav5 a, ul#nav li.nav5 a:link, ul#nav li.nav5 a:visited
{
	width: 100px;
	background-position: top;
}

ul#nav li.nav5 a:hover
{
	background-position: bottom;
}

ul#nav li.nav6 a, ul#nav li.nav6 a:link, ul#nav li.nav6 a:visited
{
	width: 122px;
	padding-right: 5px;
	background-position: top;
}

ul#nav li.nav6 a:hover
{
	background-position: bottom;
}



ul#proposalList
{
	position: absolute;
	z-index: 200;
	margin: -5px 0 0 3px;
	padding: 10px 10px 15px 10px;
	width: 159px;
	background: url(      "original/quotelist_bottom.gif" ) left bottom no-repeat #e9e5d7;
}

ul#proposalList li
{
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}





#content
{
	position: relative;
	width: 100%;
	background-repeat: repeat-y;
}



ol#bmgTabs
{
	position: relative;
	margin: 0;
	padding: 0;
	background: url(      "original/tab_back.gif" ) no-repeat;
	height: 38px;
	width: 100%;
	z-index: 200;
}

ol#bmgTabs li
{
	position: relative;
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}

a#dtBuild, a#dtBuild:link, a#dtBuild:visited, a#dtMarket, a#dtMarket:link, a#dtMarket:visited, a#dtGrow, a#dtGrow:link, a#dtGrow:visited
{
	position: relative;
	display: block;
	width: 178px;
	height: 0;
	overflow: hidden;
	padding-top: 38px;
	line-height: 38px;
	background-repeat: no-repeat;
}

h2#getStarted
{
	position: relative;
	margin-left: 16px;
	margin-right: 7px;
	width: 182px;
	height: 0;
	padding-top: 38px;
	overflow: hidden;
	background-image: url(      "original/tab_getstarted.gif" );
}

a#dtBuild, a#dtBuild:link, a#dtBuild:visited
{
	background-image: url(      "original/tab_dtbuild.gif" );
	background-position: 0 0;
}

a#dtBuild:hover
{
	background-position: 0 -38px;
}

a#dtMarket, a#dtMarket:link, a#dtMarket:visited
{
	background-image: url(      "original/tab_dtmarket.gif" );
	background-position: 0 0;
}

a#dtMarket:hover
{
	background-position: 0 -38px;
}

a#dtGrow, a#dtGrow:link, a#dtGrow:visited
{
	background-image: url(      "original/tab_dtgrow.gif" );
	background-position: 0 0;
}

a#dtGrow:hover
{
	background-position: 0 -38px;
}



div.popUp
{
	position: absolute;
	left: 5px;
	width: 168px;
	height: 80px;
	padding: 0 0 30px 0;
	background-image: url(      "original/bmg_back.gif" );
}

div.popUp a.closeLink, div.popUp a.closeLink:link, div.popUp a.closeLink:visited
{
	position: absolute;
	bottom: 5px;
	left: 0;
	width: 100%;
	display: block;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
}

div.popUp a.closeLink:hover
{
	text-decoration: underline;
}

div.popUp p
{
	position: relative;
	padding: 10px 15px 0 15px;
	margin: 0;
	background-image: url(      "original/bmg_back.gif" );
}

#infoBuild
{
	background-position: left bottom;
}

#infoBuild p
{
	background-position: left top;
}

#infoMarket
{
	background-position: center bottom;
}

#infoMarket p
{
	background-position: center top;
}

#infoGrow
{
	background-position: right bottom;
}

#infoGrow p
{
	background-position: right top;
}










#col_left
{
	position: relative;
	width: 185px;
	padding: 0 5px 0 15px;
	float: left;
	overflow: hidden;
}



h3.display a, h3.display a:link, h3.display a:visited
{
	position: relative;
	display: block;
	overflow: hidden;
	width: 158px;
	height: 0;
	margin: 0;
	padding: 38px 0 0 0;
	background-position: 0 0;
}

h3.display a:hover
{
	background-position: 0 38px;
}

h3#buildNav a, h3#buildNav a:link, h3#buildNav a:visited
{
	background-image: url(      "original/nav_build.gif" );
}

h3#marketNav a, h3#marketNav a:link, h3#marketNav a:visited
{
	background-image: url(      "original/nav_market.gif" );
}

h3#growNav a, h3#growNav a:link, h3#growNav a:visited
{
	background-image: url(      "original/nav_grow.gif" );
}

h3#growNav2 a, h3#growNav2 a:link, h3#growNav2 a:visited
{
	background-image: url(      "original/abouttab.gif" );
}

h3#growNav3 a, h3#growNav3 a:link, h3#growNav3 a:visited
{
	background-image: url(      "original/servtab.gif" );
}

.stretcher
{
	display: none;
}



.stretcher ul
{
	margin: 0 0 0 5px;
	padding: 0 0 0 15px;
	background-color: #edede1;
	width: 130px;
}



.stretcher ul li
{
	padding: 5px 0 5px 0;
	list-style-type: none;
	border-right: 3px solid #BDBDBD;
}



.stretcher ul li.selected
{
	padding-left: 5px;
	margin-left: -5px;
	background-color: #FFFFFF;
	border-top: 3px solid #c2c2b9;
	border-bottom: 1px solid #c2c2b9;
	border-left: 3px solid #c2c2b9;
	border-right: none;
}



.stretcher li.bottom
{
	border: 0;
	margin: 0 0 0 -15px;
	padding: 0;
	height: 10px;
	background: url(      "original/left_bottom.gif" ) no-repeat top #ffffff;
}



a#callToAction, a#callToAction:link, a#callToAction:visited
{
	position: absolute;
	display: block;
	top: 0;
	right: 17px;
	width: 169px;
	height: 0;
	padding: 42px 0 0 0;
	overflow: hidden;
	background-image: url(      "original/btn_requestproposal2.gif" );
	background-position: 0 0;
}

a#callToAction:hover
{
	background-position: 0 42px;
}



#body h2
{
	clear: both;
}



#col_left h2
{
	width: 184px;
	height: 55px;
	padding: 0;
	margin: 0 auto 15px auto;
	font-size: 1em;
}



#col_left h2 a, #col_left h2 a:link, #col_left h2 a:visited
{
	display: block;
	width: 184px;
	height: 0;
	overflow: hidden;
	padding: 55px 0 0 0;
	background-image: url(      "original/title_wegrow.gif" );
	background-position: 0 0;
}

#col_left h2 a:hover
{
	background-position: 0 55px;
}



#aboutDt
{
	position: relative;
	margin: 0;
	padding: 0 10px 0 10px;
	height: 269px;
}

#aboutDt p
{
	margin: 0;
	padding: 0;
}



#col_left p a, #col_left p a:link, #col_left p a:visited
{
	display: block;
	text-align: right;
}



#col_left a.blueButton, #col_left a.blueButton:link, #col_left a.blueButton:visited
{
	position: relative;
	display: block;
	margin: 0 auto 0 auto;
	overflow: hidden;
	width: 179px;
	height: 0;
	padding: 42px 0 0 0;
	text-align: center;
	text-decoration: none;
	background-position: 0 0;
}

#col_left a.blueButton:hover
{
	background-position: 0 42px;
}



#dtJobs
{
	position: relative;
	z-index: 100;
	padding: 10px;
	text-align: right;
}

#dtJobs h4
{
	margin-top: 5px;
	font-size: 1em;
	text-align: left;
}

#dtJobs ul
{
	position: relative;
	margin: 5px 0 5px 20px;
	padding: 0;
	text-align: left;
}

#dtJobs ul li
{
	position: relative;
	margin: 0;
	padding: 0;
	list-style-image: url(      "original/bullet_arrow.gif" );
}



#col_right
{
	position: relative;
	width: 525px;
	padding: 0 15px 0 5px;
	float: left;
	overflow: hidden;
}



#sub_header
{
	position: relative;
	clear: both;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0 0 15px 0;
}

.bmgLink a, .bmgLink a:link, .bmgLink a:visited
{
	float: left;
	width: 171px;
	height: 0;
	padding: 126px 0 0 0;
	overflow: hidden;
	margin: 0 0 0 4px;
	background-position: 0 126px;
}

#sub_header a.currentSection, #sub_header a.currentSection:link, #sub_header a.currentSection:visited, #sub_header a.currentSection:hover
{
	background-position: 0 0;
}

#sub_header a:hover
{
	background-position: 0 0;
}

#bmgBuild
{
	background-image: url(     'original/bmg_build.gif' );
}

#bmgMarket
{
	background-image: url(     'original/bmg_market.gif' );
}

#bmgGrow
{
	background-image: url(     'original/bmg_grow.gif' );
}



#copy
{
	position: relative;
	clear: left;
	float: left;
	width: 345px;
	z-index: 0;
}



#right_nav
{
	position: relative;
	width: 170px;
	overflow: hidden;
	float: right;
	margin: 0 0 -20000px 0;
	padding: 0 0 20000px 0;
	z-index: 1;
}



#right_nav h4
{
	line-height: 40px;
	font-size: 1em;
	text-align: center;
	background: url(      "original/right_title.gif" ) no-repeat;
}



#right_nav ul
{
	position: relative;
	margin: 0 0 15px 0;
	padding: 0;
}

#right_nav ul li
{
	position: relative;
	margin: 0;
	padding: 0 0 0 0;
	line-height: 25px;
	list-style-type: none;
	background: url(      "original/dots.gif" ) left bottom repeat-x;
}

#right_nav ul li.bottom
{
	background: none;
}

#right_nav ul li a, #right_nav ul li a:link, #right_nav ul li a:visited
{
	padding-left: 20px;
	background: url(      "original/bullet_arrow.gif" ) left no-repeat;
}



a#getStartedInt, a#getStartedInt:link, a#getStartedInt:visited
{
	position: relative;
	display: block;
	width: 170px;
	height: 0;
	padding: 42px 0 0 0;
	margin: 0 0 15px 0;
	overflow: hidden;
	background-image: url(      "original/btn_getstarted.gif" );
	background-position: 0 0;
}

a#getStartedInt:hover
{
	background-position: 0 -42px;
}



#col_right .serviceList
{
	position: relative;
	margin: 0;
	width: 138px;
	float: left;
}

#col_right #buildServices
{
	padding: 0 0 0 30px;
}

#col_right #marketServices
{
	padding: 0 0 0 40px;
}

#col_right #growServices
{
	padding: 0 0 0 40px;
}

#col_right .serviceList li
{
	position: relative;
	margin: 0;
	padding: 0;
	line-height: 19px;
	height: 19px;
	list-style-image: url(   'original/bullet_arrow.gif' );
}



.features
{
	position: relative;
	float: left;
	margin: 30px 0 0 0;
	padding: 0;
	height: 200px;
}

.features a, .features a:link, .features a:visited
{
	display: block;
	margin: 0;
	text-align: right;
}

.features .feedLink
{
	position: absolute;
	top: 3px;
	left: 75px;
}

.features h3
{
	line-height: 23px;
	padding: 0 0 0 10px;
	margin: 0 0 3px 0;
	background-repeat: no-repeat;
}

.features h4, .features p
{
	padding: 8px 15px 8px 15px;
	margin: 0;
}

#newsFeed
{
	width: 350px;
	margin-right: 5px;
}

#newsFeed h3
{
	background-position: left top;
}

#featuredService
{
	width: 170px;
}

#featuredService h3
{
	background-position: left bottom;
}

#featuredService .logo
{
	float: right;
	margin: 8px 10px 0 0;
}

ul.formList
{
	margin: 0;
	padding: 0;
}



ul.formList li
{
	position: relative;
	list-style-type: none;
	margin: 10px auto 10px auto;
	height: 20px;
	width: 340px;
}

ul.formList[class] li
{
	height: auto;
	padding-bottom: 5px;
}

ul.formList li input
{
	position: absolute;
	top: -3px;
	right: 0;
	width: 200px;
	height: 14px;
}

ul.formList li input.checkbox
{
	position: relative;
	width: 20px;
	height: 14px;
	top: 0;
}

ul.formList[class] li input.checkbox
{
	top: 3px;
}

ul.formList li textarea
{
	margin: 5px 0 15px 0;
	height: 150px;
	width: 335px;
}

ul.formList li.submit
{
	height: 41px;
}

ul.formList li.submit a, ul.formList li.submit a:link, ul.formList li.submit a:visited
{
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 169px;
	height: 0;
	padding-top: 42px;
	overflow: hidden;
	background-position: 0 0;
}

ul.formList li.submit a:hover
{
	background-position: 0 42px;
}

ul.formList li.submit a.green
{
	background-image: url(      "original/btn_submitg.gif" );
}

ul.formList li.submit a.blue
{
	background-image: url(      "original/btn_submitb.gif" );
}

ul.formList li.submit a.step2
{
	background-image: url(      "original/btn_step2of2.gif" );
}



#footer
{
	position: relative;
	width: 100%;
	height: 100px;
}



.vcard
{
	display: inline;
}

.vcard .org, .vcard a.email, .vcard .adr, .vcard .tel
{
	position: relative;
	display: block;
	float: left;
	width: 0;
	height: 0;
	overflow: hidden;
}



.footer_left
{
	position: relative;
	float: left;
	height: 20px;
	padding: 10px 0 0 16px;
	width: 270px;
}



.footer_right
{
	position: relative;
	float: right;
	height: 20px;
	padding: 10px 16px 0 0;
	width: 150px;
	text-align: right;
}



.footer_bottom
{
	position: relative;
	clear: both;
	height: 20px;
	padding: 10px 0 0 16px;
}







/* MooFX AJAX Functions */

.stretcher
{
	background: none !important;
	background: #ffffff;
}











/* Case Studies Page Styling */

#case_study_wrapper
{
	position: relative;
	overflow: hidden;
}



#project_navigation
{
	position: relative;
	background: url(      "original/back_case_project_top.gif" ) top left no-repeat;
	overflow: hidden;
	width: 346px;
	height: 41px;
}



#loading
{
	position: absolute;
	top: 2px;
	left: 256px;
	visibility: hidden;
}



#project_dropDown
{
	position: absolute;
	top: 10px;
	left: 10px;
	font-weight: bold;
	line-height: 20px;
}



#project_dropDown select
{
	width: 163px;
	height: 20px;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	border: 1px solid #666666;
}



#prev_next
{
	position: absolute;
	top: 10px;
	left: 280px;
	height: 22px;
	overflow: hidden;
}



#prev_next img
{
	margin-left: 5px;
}



#slide_container
{
	position: relative;
	clear: both;
	overflow: hidden;
}



#screenshot_name
{
	font-weight: bold;
	color: #cc6633;
	margin-bottom: 7px;
}



#screenshot_description
{
	height: 0;
	overflow: hidden;
}



#picture
{
	position: relative;
	width: 345px;
	overflow: hidden;
}



#project_header
{
	font-size: 1.1em;
	margin: 0 0 5px 0;
	font-weight: bold;
}



#project_links
{
	margin: 0 0 10px 0;
	overflow: hidden;
	font-weight: bold;
}



#project_links a
{
	margin-right: 20px;
}



#project_links a img
{
	margin-bottom: -2px;
}



#project_challenge
{
	margin-bottom: 15px;
}



.image_thumb
{
	margin: 0 0 10px 7px;
}



.image_thumb img
{
	border: 1px solid #999999;
}



.image_thumb a:hover img
{
	border: 1px solid #cc6633;
}



#thumbnail_list_container
{
	margin-bottom: 15px;
}





a#carbonNeutralBtn, a#carbonNeutralBtn:link, a#carbonNeutralBtn:visited
{
	position: relative;
	display: block;
	width: 140px;
	height: 0;
	padding-top: 29px;
	overflow: hidden;
	margin: 55px auto 10px auto;
	line-height: 29px;
	background-image: url(      "original/btn_carbonneutral.gif" );
	background-position: 0 0;
}

a#carbonNeutralBtn:hover
{
	background-position: 0 29px;
}





#footer #carbonNeutralBtn
{
	position: absolute;
	top: 10px;
	right: 2px;
	padding: 29px 0 0 0;
	margin: 0;
	border: none;
}

#customers
{
	display: table;
	margin-top: 10px;
}

/* our styles started*/
.subheading2
{
	font-size: 13px;
	font-weight: bold;
}
.loginbutton
{
	border: 2px solid #7C8389;
	background-color: #2354A6;
	font-weight: bold;
	color: White;
	text-align: center;
	text-decoration: none;
}
.normalText
{
	color: #2354a6;
	text-decoration: none;
}
.normalText: hover
{
	text-decoration: underline;
}

/* effects.css start*/
/* Visual Element Styling */
/* Reference "structural.css" for site layout styling */



a, a:link, a:visited
{
	color: #1f82a9;
	text-decoration: none;
	cursor: pointer;
}
a:hover
{
	color: #006699;
	text-decoration: underline;
}

#body
{
	font-size: 12px;
	color: #514e41;
	line-height: 15px;
	position: relative;
	width: 100%;
	padding: 10px 0 10px 0;
	z-index: 100;
	clear: both;
	background: url( "original/content_top.gif" ) left top no-repeat;
	overflow: hidden;
}

ul#currentPosts
{
	position: relative;
	margin: 10px 0 0 5px;
	padding: 0;
}
ul#currentPosts li
{
	position: relative;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#body h1
{
	font: normal 2em "Trebuchet MS" , Arial, Helvetica, sans-serif;
	line-height: 42px;
	background: url(  "../images/dots.gif" ) bottom repeat-x;
	padding-bottom: 15px;
	margin-bottom: 15px;
}

#body h2
{
	font: normal 1.7em "Trebuchet MS" , Arial, Helvetica, sans-serif;
}

#copy
{
	line-height: 170%;
}

#copy p
{
	margin: 0;
	padding-bottom: 1.5em;
}

#copy h4
{
	margin: 10px 0 10px 0;
	padding: 10px 0 10px 0;
	font: normal 1.2em "Trebuchet MS" , Arial, Helvetica, sans-serif;
	background: url(  "../images/dots.gif" ) left bottom repeat-x;
	font-weight: bold;
}

#copy h5
{
	font-size: 1em;
}

#copy .footNote
{
	font-size: 10px;
	color: #999999;
	text-transform: uppercase;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#copy h4.build, #copy h2.build
{
	color: #CC3333;
}
#copy h4.build a, #copy h4.build a:link, #copy h4.build a:visited, #copy h2.build a, #copy h2.build a:link, #copy h2.build a:visited
{
	color: #CC3333;
}
#copy h4.build a:hover, #copy h2.build a:hover
{
	color: #FF3333;
	text-decoration: none;
}
#copy h4.market, #copy h2.market
{
	color: #FF9933;
}
#copy h4.market a, #copy h4.market a:link, #copy h4.market a:visited, #copy h2.market a, #copy h2.market a:link, #copy h2.market a:visited
{
	color: #FF9933;
}
#copy h4.market a:hover, #copy h2.market a:hover
{
	color: #FFCC33;
	text-decoration: none;
}
#copy h4.grow, #copy h2.grow
{
	color: #669933;
}
#copy h4.grow a, #copy h4.grow a:link, #copy h4.grow a:visited, #copy h2.grow a, #copy h2.grow a:link, #copy h2.grow a:visited
{
	color: #669933;
}
#copy h4.grow a:hover, #copy h2.grow a:hover
{
	color: #66CC33;
	text-decoration: none;
}

#copy .highlight
{
	padding: 10px;
	background: #FFFFCC;
	border: 1px solid #EEEEEE;
	color: #000000;
}

.black
{
	color: #000000;
}

#copy ul li
{
	margin: 10px 0 10px 0;
}
ul.build li, li.build
{
	list-style-image: url(  "../images/bullet_build.gif" );
}
ul.market li, li.market
{
	list-style-image: url(  "../images/bullet_market.gif" );
}
ul.grow li, li.grow
{
	list-style-image: url(  "../images/bullet_grow.gif" );
}
ul.multiple li, li.multiple
{
	list-style-image: url(  "../images/bullet_multiple.gif" );
}

div.popUp
{
	font-size: .85em;
	line-height: 1.5em;
}
div.popUp a, div.popUp a:link, div.popUp a:visited
{
	color: #FFFFFF;
	text-decoration: none;
}
div.popUp a:hover
{
	text-decoration: underline;
}
#infoBuild
{
	color: #ffbba3;
}
#infoMarket
{
	color: #ffecd9;
}
#infoGrow
{
	color: #def0cc;
}

.features h3
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
.features h4
{
	font-size: 1em;
}

#copy table td
{
	padding: 5px 0 5px 0;
}

#footer
{
	font-size: 11px;
	color: #666666;
	background: url(  "../images/footer_back.gif" ) left top no-repeat;
}
#footer a, #footer a:link, #footer a:visited
{
	color: #1f82a9;
	text-decoration: none;
	border-right: 1px solid #666666;
	padding-right: 5px;
	margin-right: 5px;
}
#footer a.last, #footer a.last:link, #footer a.last:visited
{
	border: none;
}
#footer a:hover
{
	text-decoration: underline;
}

#footer .footer_bottom a, #footer .footer_bottom a:link, #footer .footer_bottom a:visited
{
	border-right: 1px solid #ffffff;
	color: #FFFFFF;
}
#footer .footer_bottom a.last, #footer .footer_bottom a.last:link, #footer .footer_bottom a.last:visited
{
	border: none;
}
#footer .footer_bottom a:hover
{
	text-decoration: underline;
}
