.subheading2
{
	font-size: 13px;
	font-weight: bold;
}
.loginbutton
{
	border: 2px solid #7C8389;
	background-color: #2354A6;
	font-weight: bold;
	color: White;
	text-align: center;
	text-decoration: none;
}
.normalText
{
	color:#2354a6;
	text-decoration:none;
}
.normalText: hover
{
	text-decoration:underline;
}
